
#include <windows.h>
#include "maindefs.h"
#include "language.h"
#include "english.h"


IDD_CLONEDIALOG DIALOG 0, 0, 255, 120
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_VISIBLE | WS_SYSMENU | WS_POPUP | WS_CAPTION   
CAPTION INTERFACE_UNCLONINGTITLE
FONT 8,"Helv"
BEGIN
    LTEXT        CLONES_CLONINGENTERINDEX,-2,14,7,232,30
    LTEXT      CLONES_CLONINGREMARK,-1,14,75,232,60 
    CONTROL    "0",IDC_CLONEFIELD,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_NUMBER|ES_CENTER,110,35,30,15,WS_EX_CLIENTEDGE
    DEFPUSHBUTTON   BUTTON_CANCEL,IDCANCEL,169,55,50,15,WS_GROUP
    PUSHBUTTON   CLONES_CLONEBTN,IDYES,25,55,70,15
END


IDD_UNCLONEDIALOG DIALOG 0, 0, 255, 90
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_VISIBLE | WS_SYSMENU | WS_POPUP | WS_CAPTION   
CAPTION INTERFACE_UNCLONINGTITLE
FONT 8,"Helv"
BEGIN
    LTEXT        WARN_UNCLONINGAREYOUSURE,-1,14,7,232,60
    DEFPUSHBUTTON   BUTTON_CANCEL,IDCANCEL,189,65,50,15,WS_GROUP
    PUSHBUTTON   BUTTON_SELECTAUDMAP,IDYES,19,65,70,15
    PUSHBUTTON   BUTTON_JUSTUNCLONE,IDNO,105,65,70,15

END


IDD_SEARCHDIALOG DIALOG 0, 0, 255, 70
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_VISIBLE | WS_SYSMENU | WS_POPUP | WS_CAPTION   
CAPTION INTERFACE_SEARCHTITLE
FONT 8,"Helv"
BEGIN
    LTEXT        WARN_ENDOFFILEDURINGSEARCH,-1,14,7,232,40

    DEFPUSHBUTTON   BUTTON_STOPSEARCH,IDCANCEL,169,45,50,15,WS_GROUP
    PUSHBUTTON   BUTTON_NEXTFILE,IDYES,105,45,50,15
    PUSHBUTTON   BUTTON_FIRSTSTRING,IDNO,39,45,50,15

END

IDD_ABOUTBOX DIALOGEX 0,0,380,190
CAPTION INTERFACE_VERSION
FONT 8,"MS Sans Serif"
STYLE WS_VISIBLE|WS_SYSMENU | WS_POPUP | WS_CAPTION|DS_3DLOOK|DS_CENTER|DS_MODALFRAME
BEGIN
  CONTROL "",1002,"Static",WS_CHILD|WS_VISIBLE|SS_WHITERECT,-1,-1,382,283
  CONTROL "#1001",1005,"Static",WS_CHILD|WS_VISIBLE|SS_REALSIZEIMAGE|SS_CENTERIMAGE|SS_BITMAP,10,5,145,56//110,5,145,56
  CONTROL INTERFACE_ABOUTBOX,1003,"Static",SS_CENTER|WS_CHILD|WS_VISIBLE,28,158,320,126  //,WS_EX_CLIENTEDGE|WS_EX_DLGMODALFRAME
  CONTROL INTERFACE_SELECTOP,1007,"Static",SS_CENTER|WS_CHILD|WS_VISIBLE,5,84,370,50,WS_EX_CLIENTEDGE|WS_EX_DLGMODALFRAME//114,225,134,13

  CONTROL BUTTON_LOADMSG,IDC_LOADMSG,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,24,110,64,15
  CONTROL BUTTON_LOADRES,IDC_LOADRES,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,114,110,64,15
  CONTROL BUTTON_MANUAL,IDC_MANUAL,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,204,110,64,15
  CONTROL BUTTON_CLOSE,IDC_CLOSEDLG,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,296,110,64,15
  CONTROL INTERFACE_ABOUTTITLE,1004,"Static",SS_RIGHT|WS_CHILD|WS_VISIBLE,160,10,200,50//114,66,134,13

END

1001 BITMAP DISCARDABLE "C:/Cprojects/TRADUSCI2.3_Source/Sources/SCIaMano/sciamano_sm256.bmp"


themenu MENU
BEGIN
        POPUP MENU_MESSAGE
	BEGIN
		MENUITEM MENU_LOAD, IDM_FILEOPEN
                MENUITEM MENU_OPENVOL, IDM_FILEOPENVOL
		MENUITEM MENU_SAVE, IDM_FILESAVE, GRAYED
		MENUITEM MENU_SAVEAS, IDM_FILESAVEAS, GRAYED
                MENUITEM SEPARATOR
                MENUITEM MENU_IMPORTFILE, IDM_IMPORTFILE, GRAYED
        	MENUITEM MENU_COMPAREFILE, IDM_COMPAREWITH, GRAYED
                MENUITEM SEPARATOR
                MENUITEM MENU_IMPORT, IDM_IMPORTTEXT, GRAYED
                MENUITEM MENU_EXPORT, IDM_EXPORTTEXT, GRAYED
                MENUITEM SEPARATOR
                MENUITEM MENU_PROPERTIES, IDM_PROPERTIES, GRAYED
                MENUITEM SEPARATOR
		MENUITEM MENU_QUIT, IDM_FILEEXIT
	END
 

/*
	POPUP "&Edit"
	BEGIN
		MENUITEM "&Annulla\tCtrl+Z", IDM_EDITUNDO
		MENUITEM SEPARATOR
		MENUITEM "Taglia\tCtrl+X", IDM_EDITCUT
		MENUITEM "&Copia\tCtrl+C", IDM_EDITCOPY
		MENUITEM "&Incolla\tShift+V", IDM_EDITPASTE
	END
       */
          
       POPUP MENU_NAVIGATION
	  BEGIN
                        MENUITEM MENU_FIRST, IDM_FIRST, GRAYED
                         MENUITEM MENU_PREVIOUS, IDM_LEFT, GRAYED
                         MENUITEM MENU_NEXT, IDM_RIGHT, GRAYED
                         MENUITEM MENU_LAST, IDM_LAST, GRAYED
                         MENUITEM SEPARATOR
                         MENUITEM MENU_NEXTCOMMENT, IDM_NEXTCOMMENT, GRAYED
                         MENUITEM SEPARATOR
                         MENUITEM MENU_FIND, IDM_FIND, GRAYED
                         MENUITEM MENU_REPLACE, IDM_REPLACE, GRAYED
                         MENUITEM SEPARATOR

                         MENUITEM MENU_CLONE, IDM_CLONE, GRAYED
                         MENUITEM SEPARATOR
                
                POPUP MENU_FONT
	        BEGIN
		       MENUITEM MENU_FONT14, IDM_FONT14, GRAYED
		       MENUITEM MENU_FONT16, IDM_FONT16, GRAYED
                       MENUITEM MENU_FONT18, IDM_FONT18, CHECKED, GRAYED
		       MENUITEM MENU_FONT20, IDM_FONT20, GRAYED
		       MENUITEM MENU_FONT22, IDM_FONT22, GRAYED
                       MENUITEM MENU_FONT24, IDM_FONT24, GRAYED
	               MENUITEM MENU_FONT26, IDM_FONT26, GRAYED
	        END
           END
  
       POPUP MENU_WORDL
          BEGIN
	        MENUITEM MENU_ADDTOWL, IDM_ADDTOWL, GRAYED
	        MENUITEM MENU_DOWORDSLOOKUP, IDM_DOWORDSLOOKUP, GRAYED
                MENUITEM MENU_SHOWWL, IDM_SHOWWL, GRAYED
          END


       POPUP MENU_LABELS
       BEGIN
                MENUITEM MENU_NOUNSHEAP, IDM_NOUNSFROMHEAP, GRAYED
                MENUITEM MENU_LOADLABELSTXT, IDM_LOADLABELSTXT, GRAYED
                
                POPUP MENU_EXPORTLABELSTOTXT
                BEGIN
                     MENUITEM GRAPH_NOUN, IDM_EXPORTNOUNS, GRAYED
                     MENUITEM GRAPH_VERB, IDM_EXPORTVERBS, GRAYED
                     MENUITEM GRAPH_CASE, IDM_EXPORTCASES, GRAYED
                     MENUITEM GRAPH_TALKER, IDM_EXPORTTALKERS, GRAYED
                END 
                 
       END
              
   
       POPUP  MENU_GRAPH
         BEGIN
                                
		MENUITEM MENU_DRAWGF,  IDM_DRAWGF, GRAYED         
	        POPUP MENU_OTHERGRAPH
	        BEGIN
                       MENUITEM MENU_DRAWINDEXGF, IDM_DRAWINDEXGF, GRAYED
		       MENUITEM MENU_DRAWNOUNGF, IDM_DRAWNOUNGF, GRAYED
                       MENUITEM MENU_DRAWVERBGF, IDM_DRAWVERBGF, GRAYED
                       MENUITEM MENU_DRAWCASEGF, IDM_DRAWCASEGF, GRAYED
                       MENUITEM MENU_DRAWTALKERGF, IDM_DRAWTALKERGF, GRAYED
	        END
                MENUITEM MENU_DRAWGFBW,  IDM_DRAWGFBW, GRAYED
          END

            
                


        POPUP MENU_AUDIO
        BEGIN
                MENUITEM MENU_LOADMAP, IDM_LOADMAP, GRAYED
                MENUITEM MENU_EXPORTMAP, IDM_EXPORTMAP, GRAYED
                MENUITEM SEPARATOR
                MENUITEM MENU_VERIFYMAP, IDM_VERIFYMAP, GRAYED

                MENUITEM SEPARATOR 
                MENUITEM MENU_LOADAUDRES, IDM_LOADAUDRES, GRAYED
                MENUITEM MENU_PLAY, IDM_PLAY, GRAYED
                MENUITEM MENU_AUTOPLAY, IDM_AUTOPLAY, GRAYED       
        END

	POPUP "?"
	 BEGIN
		MENUITEM MENU_HELP, IDM_HELP
		MENUITEM SEPARATOR
		MENUITEM MENU_ABOUT, IDM_FILEABOUT
	 END     

END

theAccel ACCELERATORS PRELOAD DISCARDABLE
BEGIN
     "O", IDM_FILEOPEN,                VIRTKEY, CONTROL
     "S", IDM_FILESAVE,                VIRTKEY, CONTROL
     "Q", IDM_FILEEXIT,                VIRTKEY, CONTROL
     "F", IDM_FIND,                    VIRTKEY, CONTROL
     "R", IDM_REPLACE,                 VIRTKEY, CONTROL
     VK_HOME,   IDM_FIRST,             VIRTKEY, CONTROL
     VK_UP,   IDM_LEFT,              VIRTKEY, CONTROL
     VK_DOWN,  IDM_RIGHT,             VIRTKEY, CONTROL
     VK_END,    IDM_LAST,              VIRTKEY, CONTROL
     "A", IDM_ADDTOWL,                 VIRTKEY, CONTROL
     "K", IDM_DOWORDSLOOKUP,           VIRTKEY, CONTROL
     "G", IDM_DRAWGF,                  VIRTKEY, CONTROL
     "D", IDM_NEXTCOMMENT,              VIRTKEY, CONTROL
END


1 VERSIONINFO
 FILEVERSION WIN_FILEVERSIONID
 PRODUCTVERSION 2,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0xbL
#else
 FILEFLAGS 0xaL
#endif
 FILEOS 0x10001L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "Comments", "\0"
           // VALUE "CompanyName", "Microsoft Corporation\0"
            VALUE "FileDescription", WIN_FILEDESCRIPTION
            VALUE "FileVersion", WIN_FILEVERSION
            VALUE "InternalName", "SCIaMano\0"
            VALUE "LegalCopyright", WIN_LEGALCOPYRIGHT
            VALUE "LegalTrademarks", WIN_LEGALTRADEMARKS
            VALUE "OriginalFilename", "SCIaMano\0"
            VALUE "ProductName", "TraduSCI\0"
            VALUE "ProductVersion", WIN_PRODUCTVERSION
        END
    END
   /* BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END */
END

500 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "Edit.ico"
